<div class="container-fluid text-center backColor">
    <div class="row vcenter" style="margin-top: 10%;">
      <div class="col-md-12">
        <div class="error-template">
          <h1 class="oops text-white">Oops!</h1>
          <h2 class="message text-danger">403 - Acesso Negado!</h2>
          <div class="error-details text-white mb-3 mt-3">
            <h5>Desculpe, você não tem acesso a esta página, por favor, contate o seu administrador!</h5>
          </div>
        </div>
      </div>
    </div>
  </div>